@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');


:root{
    --primary-col: rgb(228, 228, 228);
    --primary-red: #c53a07;
    --left-pad: 15em;
}

body{
    margin: 0;
    min-height: 100%;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    // background-color: rgb(226, 226, 226);

    .go-to-top{
        margin-left: 2em;
        padding:0.2em;
        border-radius: 0.3em;
        background-color:#C53A07;

    }
}

.navbar{
    padding-left: 1em;
    background-color: black;
    display: flex;
    align-items: center;
    
    

    
    a{
        text-decoration: none;
        color: white;
    }

    .navbar-logo{
        font-weight: bold;
        font-size: 1.2em;
    }


    ul{
        display: flex;
        list-style-type: none;
        li{
            padding-left: 2em;
        }
        .active a{
            font-weight: bold;
            color:rgb(197, 58, 7);
            background-color: whitesmoke;
            padding: 1em;
        }
    }
    .request-edit{
        margin-left: 2em;
        padding:0.2em;
        border-radius: 0.3em;
        background-color:#C53A07;
    }
}


.quick-links{
    // display: none;
    width: 10em;
    height: 100%;
    min-height: 100vh;
    position:absolute;
    // float: left;
    padding-left: 1em;
    // left: 2em;
    // top: 5em;
    background-color: #eeaa8f; //rgb(201, 201, 201);

    a{
        text-decoration: none;
        color: black;
    }

    ul{
        // background-color: yellow;
        padding: 0.4em;
        list-style-type:none; 
        li{
            // background-color: yellowgreen;
            margin:0;
            padding-bottom: 1em;
        }
    }

    .active{
        // background-color: #c53a07;
        // display: flex;
        // flex-direction: row;
        // justify-content: center;
        // align-items: center;
        // text-align: center;
        a{
            color: #c53a07;
            font-weight: bold;
            font-size: 1.2em;
           text-align: center;
            // padding: 0.5em;
        }
    }
    a:hover{
        color: white;
    }

    .break{
        width:6em;
        height: 0.1em;
        background-color: rgb(94, 94, 94);
        margin-left: 0.3em;
    }
}

// These are custom classes you can use

.body{
    margin-left: var(--left-pad);
    font-family: 'Open Sans', sans-serif;
    width: 50em;
    // text-indent: 3em;
    text-align: justify;
    // height: 100vh;
    // background-color: aqua;

    .b{
        font-weight: bold;
    }
    .break{
        width: 100%;
        height: 0.2em;
        margin: 2em;
        background-color: grey;
    }
    .i{
        font-style: italic;
    }
    .cmd{
        // white-space: pre-wrap;
        font-family: 'Courier';
        background-color: aquamarine;
        padding: 0.5em;
        margin: 0.1em;
        
    }
    .ilcmd{
        font-family: 'Courier';
        color: grey;
    }
    .name{
        background-color: black;
        width: 100%;
        color: white;
        text-align: center;
        font-weight: bold;
        // float: right;
    }
    img{
        margin-left: 1em;
    }
    .file{
        white-space: pre-wrap;
        font-family: 'Courier';
        background-color: rgb(233, 233, 233);
        padding: 1em;
    }
    .dense{
        font-size: 0.8em;
    }
    .sunnyvale{
        width: 100%;
        // height: 50em;
        // background-color:cadetblue;
        // overflow:;
    }
    #CONTENTS{
        background-color: aliceblue;
         border-radius: 1em;
         padding-top: 1em;
         padding-bottom: 1em;

         a{
            text-decoration: none;
         }
         a:hover{
             color:var(--primary-red);
         }
    }

}

.subroutines #CONTENTS a{
    text-decoration: none;
}